/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../img/darkbackground.jpg');
}

.demo-2 .large-header {
	background-image: url('../img/demo-2-bg.jpg');
	background-position: center bottom;
}


.main-title {
	color: #f9f1e9;

}

.titleblock {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 47vh;
	left: 50vw;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	width: 100%;

}
.subtitle {
	font-size:2em;

}
 
.main-title{
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.demo-2 .main-title {
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	font-size: 8em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.demo-2 .main-title::before {
	content: '';
	width: 20vw;
	height: 20vw;
	min-width: 3.5em;
	min-height: 3.5em;
	background: url(../img/deco.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 50vh;
	left: 50vw;
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}









@media only screen and (max-width : 780px) {
	.demo-1 .main-title
	 {
		font-size: 3em;
	}
	.subtitle
	 {
		font-size: 1.5em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}


@media only screen and (max-width : 480px) {
	.demo-1 .main-title
	 {
		font-size: 2em;
	}
	.subtitle
	 {
		font-size: 1em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}